.login-body{
    padding: 80px 0!important;
}

.login-compass{
    height: 150px;
}

.login-welcome{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px!important;
}
// Added by kiran
.login-form{
  border: 0 !important;
  box-shadow: 0 1px 0 #ddd !important;
}

.login-button{
    font-family: 'Open Sans'!important;
    font-size: 13px!important;
    font-weight: 400!important;
    padding: 15px 80px!important;

}

.login-button-facebook{
    font-family: 'Open Sans'!important;
    font-size: 13px!important;
    font-weight: 400!important;
    padding: 15px 80px!important;
    background-color: #3b5998;
    color:#fff;
    border-radius:6em;
    border-width:0;

}

.login-button-linkedin{
    font-family: 'Open Sans'!important;
    font-size: 13px!important;
    font-weight: 400!important;
    padding: 15px 80px!important;
    background-color: #0077b5;
    color:#fff;
    border-radius:6em;
    border-width:0;

}

.login-no-border-icon{
    border: none!important;
}

.login-modal-header{
    font-family: 'Open Sans';
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}


.signup-button{
    margin-left:20px!important;
}
.login-body {
    .create-account {
        font-size: 16px;
        a {
            font-weight: 600;
            color: #FBBD08;
        }
    }
}
